@model AppAcao.Model.Tarefa

<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Número</label>
            <input class="form.control"
            type="text" name="numero"/>
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class form="form-control"
                    type="text" name="nome"/>
        </div>

        <div class="form-group">
            <label>Data</label>
            <input class="form-control"
                type="text" name="limite"/>
        </div>

        <div class="form-group">
            <label>Percentual</label>
            <input class="form-control"
                type="text" name="percentual"/>
        </div>

        <input class="btn btn-primary"
            type="submit" value="Salvar"/>
    </form>
</div>